*{
    margin:0;
    padding: 0;
       

}
body{
    /* background:url("https://images.unsplash.com/photo-1476842634003-7dcca8f832de?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTN8fGRhcmt8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
    background-position: center;
    background-size: cover; */
    
}
.hand{
    height:50px;
    width: 50px;
    display: inline;
    border-radius: 12px;
}
.about{
    height:200px;
}
.intro{
   
    margin-left:90px;
    margin-top:200px;
}
.intro h1{
    color:#6902d6;
    font-size:2.9rem;
    font-family: Arial, Helvetica, sans-serif;
}
.intro  p{
    color:#514e559a;
    font-size:2.0rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}
.image{
    height:500px;
    width:400px;
    float:right;
    }
.img-thumbnail{
    border: 2px solid #6902d6;
}
.image img{
    height: 480px;
    width: 389px;
    margin-top: -317px;
    margin-left: -114px;
    /* box-shadow: 34px -20px 45px 8px teal; */

}
.imgth{
    margin-left: 224px;
    height: 334px;
    width: 895px;
    margin-top: 165px;
}
/* CSS */
.button-53 {
    background-color: #3DD1E7;
    border: 0 solid #E5E7EB;
    box-sizing: border-box;
    color: #000000;
    display: flex;
    font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 700;
    justify-content: center;
    line-height: 1.75rem;
    padding: .25rem 1.30rem;
    position: relative;
    text-align: center;
    text-decoration: none #000000 solid;
    text-decoration-thickness: auto;
    width: 80%;
    max-width: 400px;
    position: relative;
    cursor: pointer;
    transform: rotate(-10deg);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-53:focus {
    outline: 0;
  }
  
  .button-53:after {
    content: '';
    position: absolute;
    border: 1px solid #000000;
    bottom: 4px;
    left: 4px;
    width: calc(100% - 1px);
    height: calc(100% - 1px);
  }
  
  .button-53:hover:after {
    bottom: 2px;
    left: 2px;
  }
  
  @media (min-width: 768px) {
    .button-53 {
      padding: .75rem 3rem;
      font-size: 1.25rem;
    }
  }
.mysef{
    background-color: #6902d6;
    margin-top: -152px;
    height:500px;
    display: flex;
    width:100vw;
}
.mysef h1{
    align-items: center;
    align-self: center;
    padding: 26px 296px;
    
}
.mysef p{
    align-items: center;
    align-self: center;
    padding: 26px 296px;
    
}
.info{
    display:flex;
    align-content: space-between;
    align-items: center;
    justify-content: center;
    margin-top: -152px;
    padding:14px 30px;
}
.card li{
    padding:12px;
}
.card img{
    height: 82px;
    padding: 12px;
}
.projects{
    padding-top: 30px;
    height:500px;
    display: flex;
    width:100vw;
}
.projects h1{
    color:black;
    align-items: center;
    align-self: center;
    padding: 26px 500px;
    font-size:2.9rem;
    
}
.projects p{
    color:black;
    align-items: center;
    align-self: center;
    padding: 26px 260px;
    font-size:1.6rem;
}
.projects a{
    color: blueviolet;
}
.p1{
    padding: 6px 209px;
    margin-top: -120px;

}
.col-md-4 video{
    padding:12px;
}
.more{
    border-radius: 12px;
    background: #141c3a;
    height: 241px;
    display: flex;
    width: 95vw;
    margin: -104px 24px;
    padding: 22px 55px;
    z-index:1000;
}

.coffee {
   
    position: relative;
    cursor: pointer;
    width: 177px;
    height: 160px;
    left: 0px;
    transition: left 5s cubic-bezier(0.0, 0.5, 0.5, 1.0);
  }

  .more a{
      padding:12px;
    
  }
  

  .more h1{
      color:#dceab2;
  }
  .more p{
    color: #a1cca5;
    font-family: arial;
    font-size: 20px;
  }

  .contact{
   
    margin-top: 121px;
    height:200px;
    display: flex;
    width:100vw;
    background-color: #6902d6;
    
  }

  .profile{
    height:390px;
    display: flex;
    width:100vw;
    background-color: #6902d6;
  }
 .git{
    padding:0px 500px;
}

.git h1{
    
    font-size: 3.9rem;
    color: #fff;
    text-align: center;
    padding-top: 12px;
    margin-bottom: 35px;
    animation: mymove 3s infinite;
  
}
@keyframes mymove {
    from {top: 0px;}
    to {top: 200px;}
  }

  
  @media (max-width: 575.98px) {
    .intro{
   
        margin-left:30px;
        margin-top:100px;
    }
    .image img{
      visibility: hidden;
    }
    .mysef{
        background-color: #6902d6;
        margin-top: -152px;
        height:700px;
        display: flex;
        width:101vw;
    }
    .imgth{
        display: none;
    }
    .mysef h1{
        align-items: center;
        align-self: center;
        padding: 20px 100px;
        
    }
    .mysef p{
        align-items: center;
        align-self: center;
        padding: 20px 8px;
        
    }
    .info{
        display:block;
        align-content: space-between;
        align-items: center;
        justify-content: center;
        margin-top: -90px;
        padding:16px 8px;
    }
   
  
    .projects h1{
        color:black;
        align-items: center;
        align-self: center;
        padding: 26px 50px;
        font-size:1.9rem;
        
    }
    .projects p{
        color:black;
        align-items: center;
        align-self: center;
        padding: 26px 50px;
        font-size:1.6rem;
    }
    .p1{
        padding: 6px 10px;
        margin-top: -120px;
    
    }
    .col-md-4 video{
        padding:10px;
    }
    .more{
        border-radius: 12px;
        background: #141c3a;
        height: 255px;
        display: flex;
        width: 98vw;
        margin: -90px 10px;
        padding: 20px 45px;
        z-index:1000;
    }
    .coffee {
   
       display: none;
      }
    
      .more a{
          padding:11px;
        
      }
      .contact{
        width:101vw;
        
      }
      .profile{
        height:390px;
        display: flex;
        width:101vw;
        background-color: #6902d6;
      }
     .git{
        padding:0px 15px;
    }   
    
    
  }



  
/* footer */
section {
  
    width: 100%;
    display: inline-block;
    background: #333;
    height: 50vh;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    text-decoration: underline;
  }
  
  .footer-distributed{
      background: #6902d6;
      box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
      box-sizing: border-box;
      width: 100%;
      text-align: left;
      font: bold 16px sans-serif;
      padding: 55px 50px;
      
  }
  
  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
      display: inline-block;
      vertical-align: top;
  }
  
  /* Footer left */
  
  .footer-distributed .footer-left{
      width: 30%;
  }
  
  /* The company logo */
  
  .footer-distributed h3{
      color:  #f7f7f7;
      font: normal 46px 'Open Sans', cursive;
      margin: 0;
  }
  .footer-distributed p{
    color:  #e2d8d8;
    font: normal 16px 'Open Sans', cursive;
    margin: 12px;
}
  
  .footer-distributed h3 span{
      color:  rgb(239, 248, 248);
  }
  
  /* Footer links */
  
  .footer-distributed .footer-links{
      color:  #dfdedb;
      margin: 20px 0 12px;
      padding: 0;
  }
  
  .footer-distributed .footer-links a{
      display:inline-block;
      line-height: 1.8;
    font-weight:400;
      text-decoration: none;
      color:  inherit;
  }
  
  .footer-distributed .footer-company-name{
      color:  rgb(216, 213, 213);
      font-size: 14px;
      font-weight: normal;
      margin: 0;
  }
  
  /* Footer Center */
  
  .footer-distributed .footer-center{
      width: 28%;
  }
  
  .footer-distributed .footer-center i{
      background-color:  #33383b;
      color: #9C8018;
      font-size: 25px;
      width: 38px;
      height: 38px;
      border-radius: 50%;
      text-align: center;
      line-height: 42px;
      margin: 10px 15px;
      vertical-align: middle;
  }
  
  .footer-distributed .footer-center i.fa-envelope{
      font-size: 17px;
      line-height: 38px;
  }
  
  .footer-distributed .footer-center p{
      display: inline-block;
      color: #fdfdfb;
    font-weight:400;
      vertical-align: middle;
      margin:0;
  }
  
  .footer-distributed .footer-center p span{
      display:block;
      font-weight: normal;
      font-size:14px;
      line-height:2;
  }
  
  .footer-distributed .footer-center p a{
      color:  rgb(253, 253, 253);
      text-decoration: none;;
  }
  
  .footer-distributed .footer-links a:before {
    content: "|";
    font-weight:700;
    font-size: 70px;
    left: 0;
    color: #9C8018;
    display: inline-block;
    padding-right: 5px;
  }
  
  .footer-distributed .footer-links .link-1:before {
    content: none;
  }
  
  /* Footer Right */
  
  .footer-distributed .footer-right{
      width: 40%;
  }
  
  .footer-distributed .footer-company-about{
      line-height: 20px;
      color:  #e4e5e6;
      font-size: 13px;
      font-weight: normal;
      margin: 0;
  }
  
  .footer-distributed .footer-company-about span{
      display: block;
      color:  #ffffff;
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 20px;
  }
  
  .footer-distributed .footer-icons{
      margin-top: 25px;
  }
  
  .footer-distributed .footer-icons a{
      display: inline-block;
      width: 45px;
      height: 45px;
      cursor: pointer;
      background-color:  #33383b;
      border-radius: 2px;
  
      font-size: 30px;
      color: #9C8018;
      text-align: center;
      line-height: 45px;
  
      margin-right: 4px;
      margin-bottom: 5px;
  }
  
  /* If you don't want the footer to be responsive, remove these media queries */
  
  @media (max-width: 880px) {
  
      .footer-distributed{
          font: bold 14px sans-serif;
      }
  
      .footer-distributed .footer-left,
      .footer-distributed .footer-center,
      .footer-distributed .footer-right{
          display: block;
          width: 100%;
          margin-bottom: 40px;
          text-align: center;
      }
  
      .footer-distributed .footer-center i{
          margin-left: 0;
      }
  
  }
  
  /* footer */
  .top img{
      height: 102px;
      width: 102px;
      
  }
  .top{
    /* text-align: center; */
    margin-left: 80px;
  }
  
